.GM_button{
            z-index: 10000;
            cursor: pointer;
            border: 2px black solid;
            padding:0px 5px 0px 5px;
            border-radius:30px;
            background-color: #4d4d4d;
            color:white;

        }

        #clear{
            margin-top: 5px;
            margin-left:5px;
        }

        #dropdownPanel{
            position:absolute;
            width:27vw;
            left:70vw;
            height: 200px;
            z-index:100000;
            background-color:#00e600;
            border: #0066ff 2px solid;
            border-radius: 5px;
            overflow-x:hidden;
            overflow-y:auto;
            display:none;
        }

        .wrapper{
            display:flex;
            flex-flow:column;
            justify-content:spaced-around;
        }
        
        
       .show{
            display:block !important;
        }

        .deleted{
            display:none !important;
        }    

        #prisonCells{
            display:flex;
            flex-flow:column;
            justify-content:flex-start;
        }
        .cell{
            display:flex;
            flex-flow:row nowrap;
        }    
        .cell > p {
            align-self:flex-start;
            overflow-x: hidden;
        }
        .cell > button {
            margin-left: auto;
            background: white;
            border: 1px black solid;
            border-radius: 5px;
            padding: 0px 5px 0px 5px;
            cursor:pointer;
            transition: padding 0.1s ease;
        }
         .cell > button:hover {
            padding: 5px 5px 5px 5px;
        }